@mixin dev-tools($profile-name) {
  &:before, &:after {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: pink;
  }
  &:before {
    font-size: 20rem;
    content: $profile-name;
    color: transparent;
    -webkit-text-stroke: 0.3rem navy;
    text-align: center;
    height: .2vw;
    width: 100vw;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background: pink;
  }
  &:after {
    width: .2vw;
    height: 100%;
  }
}
