:root {
  --root-color-primary: white;
  --root-color-secondary: red;
  --root-color-background: green;
  --root-color-dev-branch-bg: blue;
  --root-color-dev-branch-font: white;
  --root-color-logo-fill: white;
}
